header {
    display: flex;
    justify-content: center;
}

#messagesArea {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#messagesArea > textarea {
    resize: none;
}

span {
    font-family: arial;
}

#inputArea {
    margin-top: 5px;
}
